body {
    overflow-x: hidden;
}
header{
    background-color: #003366;
}

footer{
    background-color: #003366;
    position: relative;
    width: 100vw;
}

.navs{
    background-color: #666;
}


@media (max-width: 1200px) {
    .custom-col {
        flex-basis: 48%;
        }
    
}

@media (max-width: 768px)
{
    .menu{
        width: 100vw;
        display: flex;
    }
    .barra_menu{
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .logo{
        width: 80vw;
        height: 20vh;
    }
}

