body{
    margin: 0;
}

header{
    background-color: #003366;


}

footer{
    background-color: #003366;
    position: relative;
    bottom: 0;
    width: 100%;
}

.nav{
    background-color: #6666; 
}



.buttons :hover{
    background-color: rgb(7, 175, 7);
    transition: 0.3s;
}

.custom-col {
    
    
}

@media (max-width: 1200px) {
    .custom-col {
        flex-basis: 48%;
        }
    
}

@media (max-width: 768px)
{
    .custom-col {
        flex-basis: 100%;
    }
}

