body{
    margin: 0;
}

header{
    background-color: #003366;
   

}

footer{
    background-color: #003366;
}

.nav{
    background-color: #6666; 
}



.buttons :hover{
    background-color: rgb(7, 175, 7);
    transition: 0.3s;
}