body{
    margin: 0;
}

header{
    background-color: #003366;
   

}

footer{
    background-color: #003366;
}

.nav{
    background-color: #6666; 
}

.table{
    overflow-y: auto;
    height: 20%;
}


.buttons :hover{
    background-color: rgb(7, 175, 7);
    transition: 0.3s;
}

#pagination li {
    margin: 0.75em;
}