@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@model List<Biblioteca.Models.LivroModel>

   


 <table class="table-livros table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Autor</th>
            <th scope="col">Assunto</th>
        </tr>
    </thead>
    <tbody>

        @if(Model != null)
        {
            
            @foreach(var livro in Model)
            {
                <tr>
                    <th scope="row">@livro.Titulo</th>
                    <th>@livro.Autor</th>
                    <th>@livro.Assunto</th>
                </tr>
            }
        }
    </tbody>
 </table>

