@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layoutct.cshtml";
}

@section main{

    <h3>Cadastro</h3>

    <div class="mb-3 w-75">
        <label for="" class="form-label">Telefone Pessoal*</label>
        <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
        <label for="" class="form-label">CEP*</label>
        <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
        <label for="" class="form-label">Profissão*</label>
        <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
        <label for="" class="form-label">Telefone Profissional</label>
        <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
        <label for="" class="form-label">Escola</label>
        <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
        <label for="" class="form-label">Curso/Série</label>
        <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
    </div>

    <div class="d-flex justify-content-sm-around">
        <a name="" id="" class="btn btn-primary btn-success" role="button" asp-area="" asp-controller="Login" asp-action="Cadastro">Anterior</a>
        <a name="" id="" class="btn btn-primary btn-success" role="button" asp-area="" asp-controller="Login" asp-action="Cadastro3">Próximo</a>
    </div>





}

@section pesquisa{
    <style>
        .pesquisa {
            display: none;
        }

    </style>
}

@section conteudo {
    <style>
        .ct {
            display: none;
        }

    </style>


} 