@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layoutct.cshtml";
}

@section main {
    <div class="mb-3 w-75">
      <label for="" class="form-label">Choose file</label>
      <input type="file" class="form-control" name="" id="" placeholder="" aria-describedby="fileHelpId">
      <div id="fileHelpId" class="form-text">Help text</div>
    </div>

    <div class="mb-3 w-75">
      <label for="" class="form-label">Choose file</label>
      <input type="file" class="form-control" name="" id="" placeholder="" aria-describedby="fileHelpId">
      <div id="fileHelpId" class="form-text">Help text</div>
    </div>

    <div class="mb-3 w-75">
      <label for="" class="form-label">Choose file</label>
      <input type="file" class="form-control" name="" id="" placeholder="" aria-describedby="fileHelpId">
      <div id="fileHelpId" class="form-text">Help text</div>
    </div>

    <div class="d-flex justify-content-sm-around">
        <a name="" id="" class="btn btn-primary btn-success" role="button" asp-area="" asp-controller="Login" asp-action="Cadastro2">Anterior</a>
        <a name="" id="" class="btn btn-primary btn-success" role="button" asp-area="" asp-controller="Login" asp-action="Login">Próximo</a>    
    </div>
}

@section pesquisa{
    <style>
        .pesquisa {
            display: none;
        }

    </style>
}

@section conteudo {
    <style>
        .ct {
            display: none;
        }

    </style>


} 