
@{
    
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    
}



@section main{

    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    
    

    <div class="input-group w-75 m-1">

        <button class="btn btn-outline-secondary" type="button" id="button-addon1">Pesquisar</button>

        <input type="text" class="form-control" placeholder="Pesquisar Livros" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>

    <div class="dropdown me-5">

        <button class="btn btn-secondary dropdown-toggle d-flex flex-row justify-content-start " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Assuntos
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">E isso</ul>

    </div>

    <style>
        .filtro{
            display: flex;
            flex-direction: row;
            margin: 2%;
            justify-content: flex-start;
            align-items: flex-start;
            margin-right: 78%;
        }

        .inputs{
            display: flex;
            flex-direction: row-reverse;
            flex-grow: 1;
        }

        #pq{
            width: 40vw;
            border-radius: 20px;
            height: 30%;
            margin: 2%;
        }

        .btnpq{
            margin-top: 60%;
            border: none;
        }

        

    </style>

    

}

@section conteudo{

@model List<LivroModel>

  <table id="Livros" class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Autor</th>
            <th scope="col">Assunto</th>
        </tr>
    </thead>
    <tbody>

        @if(Model != null)
        {
            
            @foreach(var livro in Model)
            {
                <tr>
                    <th scope="row">Berserk</th>
                    <th>@livro.Autor</th>
                    <th>@livro.Assunto</th>
                </tr>
            }
        }
    </tbody>
 </table>




   

}