@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

@section pesquisa{
    <style>
      
       #pq{
           display: none;
       }

      .rt_ct{
          display: flex;
          flex-direction: column;
      }

      .log{
         
      }


      .pesquisa{
          display:flex;
          flex-direction: column;
      }

        #pl{
            display: flex;
            border-radius: 20px;
            justify-content: center;
            height: 100%;
            margin-top: 2%;
            width: 90%;
        }

        .pq_lv{
            display: flex;
            justify-content:center;
            align-items: center;

        }

        .log{
            display: flex; 
            justify-content: start;
            background-color: green;
            width: 90%;
            height:60%;
            margin-top: 2%;
            margin-left: 5%;
        }

        .filtro{
            margin-top: 3%;
            margin-left: 5%;
            
        }

        .fi{
            background-color: #6666;
        }

    </style>

    <div class="pq_lv">
        <input id="pl" type="text" placeholder="Pesquisar livros recentes" />
    </div>
    
    <div class="filtro">
        <button class="fi">Tipo</button>
        <button class="fi">Autor</button>
    </div>
   
}

@section menu{
    
}

@section conteudo{

   @await Component.InvokeAsync("Livro")



}